.banner {
    display: flex;
    align-items: center;
    padding-top: 50px;

    &-info {
        width: 35%;
    }

    &-image {
        width: 65%;
        transform: translateX(50px);
    }

    &-heading {
        font-size: 55px;
        font-weight: bold;
        color: black;
        padding-bottom: 50px;
        line-height: 1.2;

        span {
            display: block;
        }
    }

    &-description {
        font-weight: 300;
        line-height: 1.5;
    }

    &-link {
        padding-top: 50px;

        .button:first-child {
            padding: 25px 30px;
            border-radius: 15px;
            margin-right: 40px;
        }
        .button:last-child {
            padding: 25px 45px;
            border-radius: 15px;
        }
    }
}