.banner {
    display: flex;
    align-items: center;
    padding-top: 50px;

    &-info {
        width: 35%;
    }

    &-image {
        width: 65%;
        transform: translateX(50px);
    }

    &-heading {
        font-size: 55px;
        font-weight: bold;
        color: black;
        padding-bottom: 50px;
        line-height: 1.2;

        span {
            display: block;
        }
    }

    &-description {
        font-weight: 300;
        line-height: 1.5;
    }

    &-link {
        padding-top: 50px;

        .button:first-child {
            padding: 25px 30px;
            border-radius: 15px;
            margin-right: 40px;
        }
        .button:last-child {
            padding: 25px 45px;
            border-radius: 15px;
        }
    }
}

@media screen and (max-width: 1279px) {
    .banner {
        &-heading {
            font-size: 45px;
        }

        &-link {
            .button:first-child {
                margin-right: 10px;
            }

            .button {
                padding: 15px 20px !important;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .banner {
        flex-direction: column;

        & > * {
            width: 100%;
        }

        &-image {
            transform: none;
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 767px) {
    .banner {
        padding-top: 30px;

        &-heading {
            font-size: 30px;
            margin-bottom: 15px;
            padding-bottom: 15px;

            span {
                display: unset;
            }
        }
    }
}