.header {
    display: flex;
    align-items: center;
    padding-top: 70px;

    &-logo {
        margin-right: 130px;
        display: block;
    }

    &-menu {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &-menu-item:not(:first-child) {
        margin-left: 75px;
    }

    &-menu-link {
        color: $gray-dark;
        font-weight: 500;
        
        &:hover {
            color: $primary-color;
            transition: 0.3s ease-in-out;
        }
    }

    &-auth {
        margin-left: auto;
    }
}