.intro {
    display: flex;
    align-items: center;
    padding: 160px 0;

    &-content {
        margin-right: 110px;
    }

    &-description {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    @media screen and (max-width: 1023px) {
        padding: 20px;

        &-content {
            margin-right: 20px;
        }
    }

    @media screen and (max-width: 767px) {
        display: block;
        text-align: center;
        &-image {
            margin-top: 30px;
        }
    }
}